<?xml version="1.0"?>
<settings>
	<config key="CognitoAuthority">
		<settingsList>
			<setting name="Dev,Test,Prod" value="https://cognito-idp.us-east-1.amazonaws.com/us-east-1_JPMU56Ifb"/>
		</settingsList>
	</config>
	<config key="CognitoUserPoolId">
		<settingsList>
			<setting name="Dev,Test,Prod" value="574mvan5pjeoifpt063t473se6"/>
		</settingsList>
	</config>
	<config key="FrontendHost">
		<settingsList>
			<setting name="Dev" value="http://localhost:5173"/>
			<setting name="Test" value="https://custominteriorstest.com"/>
			<setting name="Prod" value="https://main.dauknmznruacw.amplifyapp.com"/>
		</settingsList>
	</config>
</settings>